{% extends "main/wrapper.html" %}

{% block content %}
{% load static %}
<h4>Документы</h4>

   
<div class="profcom_right">
  <h4>Документы</h4>
  <div class="list-group">
    {% for document in documents %} 
        <a href="{{ document.files.url }}" class="list-group-item list-group-item-action ">
        {{ document.text}} <span style="float: right;">  {{ document.date_time }}</span>
      </a>
    {% endfor %}
  </div>
  
        
        
    

</ul>

  <style>

    .model {
        width: 90%;
        height: 500px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        top:10%;
        left:5%;
        border:2px solid red;
    }
  </style>

{% endblock %}